<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Concepto</th>
            <th scope="col">Valor</th>
            <th scope="col">Descripción</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>PI</td>
            <td>{{BMI.pi}} Kg</td>
            <td>Peso Ideal</td>
        </tr>
        <tr>
            <td>PIPorc</td>
            <td>{{BMI.piPorc}} %</td>
            <td>Porcentaje de PI</td>
        </tr>
        <tr>
            <td>IMC</td>
            <td>{{BMI.imc}} Kg/m²</td>
            <td>Indice de Masa Corporal</td>
        </tr>
        <tr>
            <td>BSA</td>
            <td>{{BMI.bsa}} m²</td>
            <td>Área de Superficie Corporal</td>
        </tr>
        <tr>
            <td>LBM</td>
            <td>{{BMI.lbm}} Kg</td>
            <td>Masa Corporal Magra </td>
        </tr>
        <tr>
            <td>TBW</td>
            <td>{{BMI.tbw}} litros</td>
            <td>Agua Corporal Total</td>
        </tr>
    </tbody>
</table>

{{imc-alert imc=BMI.imc}}